<!DOCTYPE html>
<html lang="port">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hands Tech</title>
        <link rel = "icon" type="image/png" href="{{url_for('static', filename='image/favicon.png')}}">
        <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename='start.css')}}"/>

    </head>
    <body>
    <!-- </div></div><span  class="e61_142">LOGO</span></div> -->
        <header>
            <div class = "header-content">
                <h2>CONTROLE TODOS OS EQUIPAMENTOS EM SUAS MÃOS</h2>
                <a action="/index" href="/index" class="ctn">Acessar</a>
            </div>

        </header>
    </body>
</html>

<!-- <form action="/index">
    <input type="submit" value="experimento" />
</form> -->